/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
header, section {
    padding-left: 40px;
    margin-left: 20px;
}

header, h2 {
    font-family: 'Poppins', sans-serif;
}

p, li {
    line-height: 1.5em;
}

h1 {
    
    font-weight: 500;
}

#orange {
    color:#74a8a7;
    font-weight: bold;
}

#inspiration {
    display: flex;
    flex-direction: column;
    background-color: #74a8a7;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    color:white;
    margin-left: 0px;
}

.links {
    color: white;
    display: inline;
}

main {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: .6fr .6fr 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
    min-height: 100vh;
    
}

.card {
    background-color:#bfe0df;
    padding:30px;
    margin-top: 8px;
    margin-right: 12px;
    text-align:center;
    font-weight: bold;
    border-radius: 15px;
    color: #74a8a7;
    height: 100%;

    
}

.mini-card {
    background-color: white;
    padding:10px;
    margin: 10px;
    font-weight: normal;
    font-size: small;
    border-radius: 15px;
    color: black;
}

#hw02:hover, #hw03:hover {
    opacity: 60%;
    text-decoration:double;
    color: #74a8a7;

}

#tutorials {
    grid-area: a;
    margin-top: 10px;
}

#links-tutorial {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
}

#homework {
    grid-area: b;
    margin-bottom: 10px;

}

#links-homework {
    display: flex;
    flex-direction: row;
    text-align: left;
}

#inspiration {
    grid-area: c;
}

a {
    text-decoration: none;
    color: #74a8a7;
}


a:hover {
    text-decoration:double;
    color: black;
}

#tutorials .card:hover {
    opacity: 60%;
    text-decoration:double;
    color: #74a8a7;
}


#inspiration a{
    color: white;
    font-size: .95em;
    margin: 4px;
}

#inspiration a:hover{
    color: black;
}